/*** Reset ***/
@import 'normalize';

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}


/*** Colors ***/
$light-brown: #9b8579;
$brown: #594a42;
$green: #8dc63f;
$orange: #f7941e;
$tan: #c49a6c;
$light-tan: #c2b59b;
$dark-gray: #414042;


/*** Variables ***/
$gutter-margin: 15px;
$small-min-width: 48em;  /* 768px for default 16px/em */
$small-max-width: $small-min-width - 0.0625;  /* removing 1 pixel */
$medium-min-width: 62em;

@mixin small-and-above() {
  @media only screen and (min-width: $small-min-width) {
    @content;
  }
}

@mixin extra-small-only() {
  @media only screen and (max-width: $small-max-width) {
    @content;
  }
}

@mixin medium-and-above() {
  @media only screen and (min-width: $medium-min-width) {
    @content;
  }
}

@mixin flex-column($fraction) {
  flex: 0 0 percentage($fraction);
  // from bootstrap:
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: percentage($fraction);
}


/*** Base Styles ***/
html {
  font-size: 100%;
}

body {
  color: $dark-gray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

h1, h2, h3 {
  font-weight: bold;
}

a {
  color: $green;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}


/*** Grid ***/
.container {
  padding-right: $gutter-margin;
  padding-left: $gutter-margin;
  margin-right: auto;
  margin-left: auto;
  /* large device breakpoint = 1200px, expressed in rem. note default 1em/16px/12pt font */
  max-width: (1200 * (1/16)) + 0rem;

}

.row {
  margin-right: -$gutter-margin;
  margin-left: -$gutter-margin;
  display: flex;
  flex-flow: column;
}

[class*='col-'] {
  padding-left: $gutter-margin;
  padding-right: $gutter-margin;
  width: 100%;
}

@include small-and-above() {
  .row {
    flex-flow: row;
  }
  .col-1-2 {
    @include flex-column(1/2);
  }
  .col-1-3 {
    @include flex-column(1/3);
  }
  .col-1-4 {
    @include flex-column(1/4);
  }
  .col-1-6 {
    @include flex-column(1/6);
  }
  .col-2-3 {
    @include flex-column(2/3);
  }

  .sm-row-reverse {
    flex-direction: row-reverse;
  }
}

.remove-gutter-xs {
  @include extra-small-only() {
    padding-left: 0px;
    padding-right: 0px;
  }
}


/*** Themes ***/
.header {
  background: $light-brown;
  color: white;
}

.hero {
  background: $brown;
  color: white;
}

.feature-green {
  background: $green;
}

.feature-orange {
  background: $orange;
}

.feature-tan {
  background: $tan;
}

.testimonial {
  background: $green;
  color: white;
}

.media {
  background: $light-tan;
}

.footer {
  background: $brown;
  color: $light-brown;
}

.footer-divider {
  @include small-and-above() {
    min-height: 1px;
    background: white;
  }
}

.footer-legal {
  font-size: 1rem;
  a {
    color: $light-brown;
  }
}